@use 'variables' as *;


@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin underline {
  &::after {
    border-bottom: 2px solid $primary-color-White;
    content: "";
    position: absolute;
    inset: 0;
  }
}