@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

html, body {
  font-family: "Avenir-Next";
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Avenir-Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: "Avenir-Next";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-family: "Avenir-Next";
  font-weight: 600;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-family: "Avenir-Next";
  font-weight: 400;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    gap: 1.5rem;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-left: 3rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    padding-left: 4rem;
  }
}
.header__logo--img {
  display: block;
  width: 15rem;
}
@media screen and (min-width: 768px) {
  .header__logo--img {
    width: 10rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo--img {
    width: 6rem;
  }
}
.header__nav {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.header__nav--list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__nav--list {
    width: auto;
    gap: 4rem;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav--list {
    gap: 2rem;
  }
}
.header__nav--list-item {
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-family: "Avenir-Next";
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 1rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__nav--list-item {
    font-size: 1.25rem;
    line-height: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav--list-item {
    font-size: 0.8rem;
    padding-top: 1rem;
  }
}
.header__nav--list-item:hover, .header__nav--list-item:active {
  border-bottom: 0.3rem solid #ffffff;
  font-weight: 600;
}
.header__nav--list-item.active {
  border-bottom: 0.3rem solid #ffffff;
  font-weight: 600;
}
.header__nav--list-item.biography::after, .header__nav--list-item.shows::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50vw;
  height: 10rem;
  background-color: #ffffff;
}
.header__nav--list-item a {
  text-decoration: none;
  color: inherit;
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
  height: 30rem;
}
.hero__title {
  color: #ffffff;
  padding-left: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: 3rem;
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    padding-left: 4rem;
    font-weight: 600;
    font-size: 3.8rem;
  }
}

.about {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.about__title {
  color: #323232;
  font-weight: 600;
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__title {
    font-size: 2.5rem;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about__content {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__content {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
.about__content--image {
  width: auto;
}
@media screen and (min-width: 1024px) {
  .about__content--image {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.about__content--quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #323232;
}
.about__content--quote-text {
  margin-bottom: 0;
  font-weight: 600;
  padding-bottom: 1rem;
  letter-spacing: 0.06rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .about__content--quote-text {
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.05rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__content--quote-text {
    font-size: 1.2rem;
    letter-spacing: 0;
    padding-top: 1rem;
  }
}
.about__content--quote-author {
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.5;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .about__content--quote-author {
    font-size: 1.2rem;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 1024px) {
  .about__content--quote-author {
    font-size: 1rem;
    padding-top: 0.5rem;
    font-weight: 600;
  }
}
.about__content--subtitle {
  padding-bottom: 1rem;
  padding-top: 2rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about__content--subtitle {
    font-weight: 600;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__content--subtitle {
    font-weight: 400;
    font-size: 1.5rem;
  }
}
.about__content--biography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__content--biography {
    flex-direction: row;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__content--biography {
    gap: 2rem;
  }
}
.about__content--biography-text {
  line-height: 1.125rem;
  padding-bottom: 2rem;
  line-height: 2rem;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .about__content--biography-text {
    line-height: 1.5rem;
    font-size: 1.05rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__content--biography-text {
    font-size: 0.875rem;
  }
}

.gallery {
  padding: 2rem 1rem;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery {
    padding-top: 2.5rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.gallery__title {
  text-align: left;
  line-height: 2rem;
  padding-bottom: 2rem;
  font-weight: 600;
  font-size: 2.5rem;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-weight: 600;
    padding-bottom: 2rem;
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__title {
    font-size: 2.5rem;
  }
}
.gallery__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    gap: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__images {
    gap: 1rem;
  }
}
.gallery__images--image {
  padding: 0;
  filter: grayscale(100%);
  transition: filter 0.1s ease;
}
.gallery__images--image:hover {
  filter: grayscale(0%);
}
@media screen and (min-width: 768px) {
  .gallery__images--image {
    width: 30%;
  }
}

footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  z-index: 1;
  position: relative;
}
@media screen and (min-width: 768px) {
  footer {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
  }
}
footer .footer {
  display: flex;
  flex-direction: column;
}
footer .footer__social {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  footer .footer__social {
    flex-direction: row;
    gap: 3rem;
    padding-bottom: 2rem;
  }
}
footer .footer__social--title {
  font-size: 2.5rem;
  line-height: 2rem;
  padding-bottom: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  footer .footer__social--title {
    font-size: 2.75rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer__social--title {
    font-size: 2.5rem;
  }
}
footer .footer__social--icons {
  display: flex;
  justify-content: left;
  gap: 3rem;
}
@media screen and (min-width: 1024px) {
  footer .footer__social--icons {
    gap: 2rem;
  }
}
footer .footer__social--icons-icon {
  height: 2rem;
}
@media screen and (min-width: 1024px) {
  footer .footer__social--icons-icon {
    height: 1.5rem;
  }
}
footer .footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  footer .footer__contacts {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer__contacts {
    gap: 4rem;
    justify-content: flex-start;
  }
}
footer .footer__contacts--item {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}
footer .footer__contacts--item-title {
  line-height: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  footer .footer__contacts--item-title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer__contacts--item-title {
    font-size: 0.875rem;
    font-weight: 600;
  }
}
footer .footer__contacts--item-address, footer .footer__contacts--item-booking {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  footer .footer__contacts--item-address, footer .footer__contacts--item-booking {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer__contacts--item-address, footer .footer__contacts--item-booking {
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 0;
    line-height: 1.5rem;
  }
}
footer .footer__contacts--item-address p, footer .footer__contacts--item-booking p {
  margin: 0;
}
footer .footer__contacts--item .footer__contact--item-email {
  margin-top: 1rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  footer .footer__contacts--item .footer__contact--item-email {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer__contacts--item .footer__contact--item-email {
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 0;
  }
}
footer .footer__contacts--item .footer__contact--item-email a {
  color: #ffffff;
  text-decoration: none;
  -webkit-text-decoration: none;
}
footer .footer__contacts--item .footer__contact--item-email p {
  margin: 0;
}
footer__logo {
  width: 15rem;
  margin: 0;
  position: absolute;
  bottom: 6rem;
  left: 1rem;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  footer__logo {
    position: absolute;
    left: 48rem;
    bottom: 23rem;
    padding-top: 5rem;
    z-index: 2;
    margin: 0;
    width: 10rem;
  }
}
@media screen and (min-width: 1024px) {
  footer__logo {
    position: absolute;
    left: 60rem;
    bottom: 20rem;
    padding-top: 5rem;
    z-index: 2;
    margin: 0;
  }
}
footer__copyright-message {
  padding-top: 5rem;
  padding-bottom: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  footer__copyright-message {
    padding-bottom: 3rem;
    padding-top: 1rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  footer__copyright-message {
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 0.5rem;
  }
}/*# sourceMappingURL=bio.css.map */