@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    font-family: $avenir-next-bold;
    font-weight: 700;
    font-size: $font-size-mobile-page-header;
    line-height: 2rem;

    @include tablet {
        font-size: $font-size-desktop_tablet-page-header;
        line-height:$line-height-d-t-page-header;
    }

    @include desktop {
        font-size: $font-size-desktop_tablet-page-header;
        line-height: $line-height-d-t-page-header;
    }
}

h2 {
    font-family: $avenir-next-bold;
    font-weight: 700;
    font-size: $font-size-mobile-section-header;
    line-height: 2rem;
    color: $primary-color-bandSite-Black;

    @include tablet {
        font-size: $font-size-desktop_tablet-section-header;
        line-height:$line-height-d-t-section-header;
    }

    @include desktop {
        font-size: $font-size-desktop_tablet-section-header;
        line-height: $line-height-d-t-section-header;
    }
}

h3 {
    font-family: $avenir-next-demi;
    font-weight: 600;
    font-size: $font-size-mobile-subheader;
 
    @include tablet {
        font-size: $font-size-desktop_tablet-subheader;
        line-height: $line-height-d-t-subheader;
    }

    @include desktop {
        font-size: $font-size-desktop_tablet-subheader;
        line-height: $line-height-d-t-subheader;
    }
}

p {
    font-family: $avenir-next-regular;
    font-weight: 400;
    font-size: $font-size-mobile-body-copy;

    @include tablet {
        font-size: $font-size-desktop_tablet-body-copy;
    }

    @include desktop {
        font-size: $font-size-desktop_tablet-body-copy;
    }
}

header {
    background-color: $primary-color-bandSite-Black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top:1rem;
        gap:4rem;
    }

    .header-logo {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom:2rem;

        @include tablet {
            padding-left: 3rem;
            padding-right: 2rem;
            padding-bottom: 2rem;
        }

        @include desktop {
            padding-left: 4rem;
        }

        .header-logo__img {
            display: block;
            width:12rem;
        
            @include tablet {
                width: 15rem;
            }
        }
    }

    .nav-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;

        @include tablet {
            width: 100%;
            justify-content: flex-start;
            align-items: flex-end;
        }
    
        .nav-bar__list {
            text-decoration: none;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width:100%;
            padding: 0;
            margin: 0;
            align-items: center;

            @include tablet {
                width:auto;
                gap:4rem;
                align-items: flex-end;
            }
            
            .nav-bar__item {
                font-size: $font-size-mobile-subheader;
                line-height: $line-height-m-subheader;
                font-family: $avenir-next-demi;
                font-weight: 400;
                color: $primary-color-White;
                padding-bottom: 1rem;
                width:50%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                @include tablet {
                    font-size: $font-size-desktop_tablet-subheader;
                    line-height: $line-height-d-t-subheader;
                    padding-bottom: 2rem;
                    padding-top:2rem;
                }

                &:hover,
                &:active {
                    border-bottom: .3rem solid $primary-color-White;
                    font-weight: 700;
                }
                
                &.active {
                    border-bottom:.3rem solid $primary-color-White;
                    font-weight: 700;
                }

                &.biography::after,
                &.shows::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 50vw;
                    height: 10rem;
                    background-color: $primary-color-White;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}

.hero {
  background-image: linear-gradient(rgba(50,50,50,0.5),rgba(50,50,50,0.5)), url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
  height: 30rem;

    .hero__title {
        color: $primary-color-White;
        padding-left: 1rem;
    
        @include tablet {
            padding-left: 3rem;
        }

        @include desktop {
            padding-left: 4rem;
            font-weight: 600;
        }
    }
}

.section-about {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include desktop {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .section-about__title {
        color: $primary-color-bandSite-Black;
        font-weight: 600;
        padding-top: 2rem;
        padding-bottom: 1rem;
    
        @include tablet {
            padding-top: 3rem;
            padding-bottom: 2.25rem;
        }

    }

    .section-about__items {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 1rem;
        }

        .section-about__image {
            max-width: 100%;
        }

        .block-quote {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: $primary-color-bandSite-Black;
        
            .block-quote__paragraph {
                margin-bottom: 0;
                font-weight: 600;
                padding-bottom: 1rem;
                letter-spacing: 0.05rem;
            
                @include tablet {
                    font-size: 1.2rem;
                    line-height: $line-height-d-t-body-copy;
                    letter-spacing: 0.05rem;
                }

                @include desktop {
                    font-size: 1.2rem;
                    letter-spacing: 0;
                    padding-top: 1rem;
                }
            }
            
            .block-quote__name {
                font-weight: 600;
                line-height: $line-height-m-body-copy;
            
                @include tablet {
                    font-size: 1.2rem;
                    letter-spacing: 0;
                }

                @include desktop {
                    font-size: 1rem;
                    padding-top: .5rem;
                    font-weight: 600;
                }
            }
        }

        .block-biography__title {
            padding-bottom: 1rem;
            padding-top: 2rem;

            @include desktop {
                font-weight: 400;
            }
        }

        .block-biography {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top:1rem;
            padding-bottom: 1rem;

            @include tablet {
                flex-direction: row;
                gap:1.5rem;
            }
            
            @include desktop {
                gap: 2rem;
            }

            .block-biography__firstparagragh {
                line-height: $line-height-m-body-copy;
                padding-bottom: 1rem;
            
                @include tablet {
                    line-height: 1.25rem;
                }
            }
            
            .block-biography__secondparagragh {
                line-height: $line-height-m-body-copy;
            
                @include tablet {
                    line-height: 1.25rem;
                }
            }
        }
    }
}


.section-gallery {
  padding: 2rem 1rem;
  background-color: $secondary-color-alabaster;

    @include tablet {
        padding-top: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }

    @include desktop {
        padding:4rem;
    }

    .section-gallery__title {
        text-align: left;
        line-height: $line-height-m-section-header;
        padding-bottom: 1rem;
        font-weight: 600;

        @include tablet {
            font-weight: 600;
            padding-bottom: 2rem;
        }
    }

    .section-gallery__images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin:0;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content:space-evenly;
            gap:1rem;
        }

        @include desktop {
            gap:1rem;
        }
    
        .section-gallery__image {
            padding: 0;
            filter: grayscale(100%);
            transition: filter 0.1s ease;

            &:hover {
                filter: grayscale(0%);
            }

            @include tablet {
                width:30%;
            }
        }
    }
}

footer {
    background-color: $primary-color-bandSite-Black;
    color: $primary-color-White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:2rem;
    z-index: 1;
    position: relative;

    @include tablet {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top:3rem;
    }
    
    .footer-section__contact {
        display: flex;
        flex-direction: column;
    
        .section-social {
            display: flex;
            flex-direction: column;
            justify-content: left;

            @include tablet {
                flex-direction: row;
                gap:3rem;
                padding-bottom: 2rem;
            }

            .section-social__title{
                font-size: $font-size-mobile-section-header;
                line-height: $line-height-m-section-header;
                padding-bottom: 1.5rem;
                color: $primary-color-White;
                font-weight: 600;

                @include tablet {
                    font-size: $font-size-desktop_tablet-section-header;
                    padding-bottom: 0;
                }
            }

            .section-social__icons {
                display: flex;
                justify-content: left;
                gap: 3rem;

                @include desktop {
                    gap:2rem;
                }

                .section-social__icon {
                    height: 1.5625rem;
                }
            }
        }

        .section-contacts {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-top: 2rem;

            @include tablet {
                padding:0;
                flex-direction: row;
                justify-content: space-between;
            }

            @include desktop {
                gap:4rem;
                justify-content: flex-start;
            }

            .section-contact {
                display: flex;
                flex-direction: column;
                padding-top:0.5rem;

                .section-contact__title{
                    line-height: $line-height-m-footer-copy;
                    font-weight: 700;
                    padding-bottom: 1rem;
                }

                .section-contact__address,
                .section-contact__booking {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    line-height: $line-height-m-footer-copy;

                    p {
                        margin: 0;
                    }
                }

                .section-contact__email {
                    margin-top: 1rem;
                    
                    p {
                        margin: 0;
                    }
                }
            }
        }

    }

    .footer__logo {
        width: 8rem;
        margin: 0;
        position:absolute;
        bottom:5rem;
        left:1rem;
        z-index:2;

        @include tablet {
            position: absolute;
            left:47rem;
            bottom:16.5rem;
            padding-top: 5rem;
            z-index: 2;
            margin: 0;
        }

        @include desktop {
            position: absolute;
            left:60rem;
            bottom:16.5rem;
            padding-top: 5rem;
            z-index: 2;
            margin: 0;
        }

    }
    
    .copyright__message {
        padding-top: 5rem;
        padding-bottom: 2rem;

        @include tablet {
            padding-bottom: 3rem;
            padding-top:3rem;
        }
    }

}